<nav class="navigation-bar">
    <img class="logo" src="https://image.flaticon.com/icons/png/512/97/97805.png">
    
    <a href="/welcome/index">Home</a>
    <a href=/about/index>About</a>
    <a href=/dorm_halls/index>Residence Halls</a>
    <a href="#">Contact Us</a>
</nav>

<!-- Page content -->
<div class="main">
    

  <h3>
    Rate My Hall is a review site, founded in April 2019, by Preston Bessire, Jacob Haggard, Soji Ademiluyi, and Mahmood Alsaftawi, which allows college and university students to assign ratings to dorm halls at UNCC
</h3>
  
</div>


    