<body1>
<nav class="navigation-bar">
    <img class="logo" src="https://image.flaticon.com/icons/png/512/97/97805.png">
    
    <a href="/welcome/index">Home</a>
    <a href=/about/index>About</a>
    <a href=/dorm_halls/index>Residence Halls</a>
    <a href=/contact/index>Contact Us</a>
</nav>

<!-- Page content -->
<div class="main">
    
<body class="about">
</body>
  <h1>Founded in April 2019, by:</h1>
  
    
  <h2><br>Preston Bessire<br>
  Jacob Haggard<br>
  Soji Ademiluyi<br>
  Mahmood Alsaftawi<br><br>
  which allows college and university students to assign<br>ratings and reviews to dorm halls at UNCC
  
  </h2>
  
</div>


    