<h1 id="mainPage" >Welcome to RateMyHall</h1>
<img class="center" src="https://www.rodgersbuilders.com/wp-content/uploads/UNCC_Miltimore_Hall_1.jpg">

<h2 id="mainPage">RateMyHall is an unbias residence Hall rating system. <br>
    We provide text ratings, star ratings, and beautiful pictures.</h2>