<nav class="navigation-bar">
    <img class="logo" src="https://image.flaticon.com/icons/png/512/97/97805.png">
    
    <a href="/welcome/index">Home</a>
    <a href=/dorm_halls/index>Residence Halls</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
</nav>

<!-- Page content -->
<div class="main">

</div>

<h1 id="box"><br>Rate My Hall</h1>

<h2 id="box">Student driven, unbias <br>
    college dorm rating platform.</h2>
    