<body1>
<nav class="navigation-bar">
    <img class="logo" src="https://image.flaticon.com/icons/png/512/97/97805.png">
    
    <a href="/welcome/index">Home</a>
    <a href=/about/index>About</a>
    <a href=/dorm_halls/index>Residence Halls</a>
    <a href=/contact/index>Contact Us</a>
</nav>

<body class="belk">
</body>
s
<div class="row">
  <div class="column">
    <!-- Main Content -->
<div class = "title">
  <h1>Belk Hall</h1>
</div>
 
<div class = "reviews">
    <table align= "center">
  <tr>
    <th>Reviews</th>
  </tr>
 
  <% @belk_articles.each do |belk_article| %>
    <tr>
      <td><%= belk_article.text %></td>
     <!-- <td><%= link_to 'Show', belk_article_path(belk_article) %></td> -->
    </tr>
  <% end %>
</table>
</div>
<h2>
    <%= link_to "Add new review", new_belk_article_path, class:"link"%>
<h2>
  </div>
  <div class="column">
    <div class="mapouter">
   <div class="gmap_canvas">
     <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=UNCC%20belk%20Hall&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
       
     </iframe><a href="https://www.emojilib.com"></a>
    </div>
  <style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}
  </style>
</div>
  </div>
</div>

<div class="column">
  <h1>Words</h1>
</div>
  
