<!-- Side navigation -->
<div class="sidenav">
  <a href=/welcome/index>Home</a>
  <a href="/dorm_halls/index">Residence Halls</a>
  <a href="#">Contact</a>
  <a href="#">About</a>
</div>

<!-- Main Content -->
<h1>Listing Belk Hall Reviews</h1>
 
<div class="reviews">
    <table align="center">
  <tr>
    <th>Review</th>
  </tr>
 
  <% @belk_articles.each do |belk_article| %>
    <tr>
      <td><%= belk_article.text %></td>
     <!-- <td><%= link_to 'Show', belk_article_path(belk_article) %></td> -->
    </tr>
  <% end %>
</table>
</div>
<p>
    <%= link_to "Add new review", new_belk_article_path%>
</p>