<nav class="navigation-bar">
    <img class="logo" src="https://image.flaticon.com/icons/png/512/97/97805.png">
    
    <a href="/welcome/index">Home</a>
    <a href="#">About</a>
    <a href=/dorm_halls/index>Residence Halls</a>
    <a href="#">Contact Us</a>
</nav>

<body class="belk">
</body>

<!-- Main Content -->
<div class = "title">
  <h1>Belk Hall</h1>
</div>
 
<div class = "reviews">
    <table align= "center">
  <tr>
    <th>Reviews</th>
  </tr>
 
  <% @belk_articles.each do |belk_article| %>
    <tr>
      <td><%= belk_article.text %></td>
     <!-- <td><%= link_to 'Show', belk_article_path(belk_article) %></td> -->
    </tr>
  <% end %>
</table>
</div>
<h2>
    <%= link_to "Add new review", new_belk_article_path, class:"link"%>
<h2>