<body1>
<nav class="navigation-bar">
    <img class="logo" src="https://image.flaticon.com/icons/png/512/97/97805.png">
    
    <a href="/welcome/index">Home</a>
    <a href=/about/index>About</a>
    <a href=/dorm_halls/index>Residence Halls</a>
    <a href=/contact/index>Contact Us</a>
</nav>

<body class="belk">
</body>

<!-- Main Content -->
<h1>Belk Hall Page</h1>

<div class="input">
  <%= form_for :belk_article, url: belk_articles_path do |f| %>
  <p>
    <%= f.label :Review %><br> <!-- Label name, change later -->
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>