<nav class="navigation-bar">
    <img class="logo" src="https://image.flaticon.com/icons/png/512/97/97805.png">
    
    <a href="/welcome/index">Home</a>
    <a href="#">About</a>
    <a href=/dorm_halls/index>Residence Halls</a>
    <a href="#">Contact Us</a>
</nav>
<p>
    <strong>Your Belk Hall Review</strong>
    <%= @belk_article.text %>
</p>

<p1>
  <%= link_to "Return to Belk Hall Page", belk_articles_path, class: "returnLink"%>
</p1>