<nav class="navigation-bar">
    <img class="logo" src="https://image.flaticon.com/icons/png/512/97/97805.png">
    
    <a href="/welcome/index">Home</a>
    <a href=/about/index>About</a>
    <a href=/dorm_halls/index>Residence Halls</a>
    <a href="#">Contact Us</a>
</nav>

<h1>List of Residence Halls</h1>
<div class = "List">
  <span>
   <ul style="list-style-type: none; display: inline-block;">
      <li><a href=/belk_articles/>Belk Hall</a></li>
      <br>
      <li>Elm Hall</li>
      <br>
      <li>Greek Hall</li>
      <br>
      <li>Hawthrone Hall</li>
      <br>
      <li>Holshuer Hall</li>
      <br>
      <li>Hunt Hall</li>
      <br>
      <li>Laurel Hall</li>
      <br>
      <li>Levine Hall</li>
   </ul>

   <ul style="list-style-type: none; display: inline-block;">
      <li>Lynch Hall</li>
      <br>
      <li>Oak Hall</li>
      <br>
      <li>Martin Hall</li>
      <br>
      <li>Pine Hall</li>
      <br>
      <li>Sanford Hall</li>
      <br>
      <li>Scott Hall</li>
      <br>
      <li>Wallis Hall</li>
      <br>
      <li>Witherspoon Hall</li>
   </ul>
  <span>
</div>


