// Place all the styles related to the BelkArticles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reviews{
    text-align: center;
    font-size: 20px;
    color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.title{
    color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.link{
    position: relative;
    top: 50px;
    color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.input{
    font-size: 40px;
}
.returnLink{
    font-size: 20px;
    color: white;
    opacity: 0.75;
    position: relative;
    top: 280px;
    right: -600px;
    color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
p{
    position: relative;
    top: 150px;
    //opacity: 0.75;
}