<body1>
<nav class="navigation-bar">
    <img class="logo" src="https://image.flaticon.com/icons/png/512/97/97805.png">
    
    <a href="/welcome/index">Home</a>
    <a href=/about/index>About</a>
    <a href=/dorm_halls/index>Residence Halls</a>
    <a href=/contact/index>Contact Us</a>
</nav>

<div class="container">
  <form action="action_page.php">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="usa">USA</option>
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <%= link_to "Submit", contact_index_path%>
   

  </form>
</div>
